server:
  port: 8080

spring:
  application:
    name: api-gateway
  
  cloud:
    gateway:
      # ¡AQUÍ ESTÁ EL CAMBIO!
      # Todo se mueve dentro de este nuevo bloque:
      server:
        webflux:
          discovery:
            locator:
              enabled: true
              lower-case-service-id: true
  
          routes:
            - id: product-service-route
              uri: lb://product-service
              predicates:
                - Path=/api/products/**

# Eureka queda exactamente igual
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/